.page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.header {
  height: 89px;
  width: 100%;
  background: #c4c4c4;
  padding: 16px;
}

.content {
  padding: 16px;
}
