@import "styles/_variables";

.page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  flex-grow: 1;
  max-width: 100%;
}

@media (min-width: $phone_width) {
  .page {
    padding: 0 24px;
  }

  .content {
    width: 100%;
  }
}
