@import "styles/_variables";

.catalog {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  justify-items: center;
  gap: 48px 32px;
  padding: 16px;
  overflow-y: scroll;
}

.selectWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

@media (min-width: $phone_width) {
  .catalog {
    padding: 0;
    padding-top: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $tablet_width) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}
